body,html
{
    margin:0;
    padding:0;
}
.content
{
    height:100vh;
    display:flex;
    align-items: center;
    justify-content: center;
}
.body h1
{
    text-align:center;
}
.links a
{
    padding:10px;
}